.title {
  font-size: 60px;
  margin: 40px;
}

.homelink, .planlink {
  font-size: 40px;
  margin: 40px;
  padding-top: 20px;
  text-decoration: none;
  color: #000000;
}

.links {
  display: flex;
}

.blossom {
  height: 200px;
  margin-left: 10px;
}
