.plant-photo {
  height: 315px;
  width: 100%;
  border-radius: 20px;
}
.card-link {
  text-decoration: none;
}

.common-name, .scientific-name {
  font-size: 25px;
  color: #000000;
}
.scientific-name {
  font-style: italic;
}
