.plant-detail {
  display: flex;
  justify-content: space-around;
}

.photo {
  height: 500px;
  width: 500px;
}

.common-name-detail {
  font-size: 40px;
}

.scientific-name-detail {
  font-size: 30px;
  font-style: italic;
}

.plant-type {
  margin-top: 50px;
}

.plant-link {
  font-size: 30px;
  color: #000000;
}

.add-button, .remove-button {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  cursor: pointer;
  margin-top: 50px;
  border-radius: 15px;
}
